*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
hmtl{
    font-size: 62.5%;
}
.navContainer{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url("img/students.jpg");
    height: 8vh;
    width: 100vw;
    position: relative;
}
.h1Label img{
    height: 5rem;
    margin-top: 20px;
}
.tittle{
    font-size: 1.5rem;
    color: #fff;
    justify-self: center;
    align-self: center;
    margin-bottom: 12px;
}
.navItems{
    display: flex;
}
.navItems a{
    align-self: center;
    flex: auto;
    text-decoration: none;
    color: antiquewhite;
}
.hover:hover {
    color: orange;
}
main{
    position: relative;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section{
    text-align: center;
}
footer{
    position: relative;
    background-color: black;
}